{% if template == 'blog' %}{% assign index = true %}{% endif %}

{% if article.excerpt != "" %}
	{% assign class_hasexcerpt = 'has-excerpt' %}
{% comment %}
{% else %}
	{% assign class_hasexcerpt = 'no-excerpt' %}{% endcomment %}
{% endif %}

{% if article.image != "" %}
	{% assign class_hasimage = 'has-image' %}
{% else %}
	{% assign class_hasimage = 'no-image' %}
{% endif %}


 {% if article.metafields.global.external_link != null %}
<article class="post {{class_hasexcerpt}} {{class_hasimage}}  {% for tag in article.tags %} {{ tag }} {% endfor %} " onclick="window.open('{{ article.metafields.global.external_link }}')">
  
<div class="post-wrapper-inner">
  
  {% if index and article.image %}
	<div class="post-image-wrapper ">
		<!-- <div class="post-image" style="background-image: url('{{ article.image | img_url: '700x700' }}');"> -->
			<img class="post-image" src="{{ article.image | img_url: '700x700' }}" alt="{{ article.title | strip_html | escape }}" />
		<!-- </div> -->
	</div>
  {% endif %}
  
  
	<div class="post-list-content">
	  
	  <header class="post-title">
		<h2>
		  {% if index %}<a href="{{ article.url }}">{% endif %}
			{{ article.title }}
		  {% if index %}</a>{% endif %}
		</h2>
	  </header>
	  
	  <div class="post-subtitle post-meta">
		<span>{{ article.published_at | date: format: 'short_month' }}</span>
		  <span>{{ 'blogs.article_item.posted_by' | t }}: Sun Genomics Staff<!-- {{ article.author }}--></span>
		{% if article.tags.size > 0 %}
		  <span>
			{% for tag in article.tags %}
			  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="post-tags">{{ tag }}</a>{% unless forloop.last %},&nbsp;{% endunless %}
			{% endfor %}
		  </span>
		{% endif %}
	  </div>

      

      
      
	  <div class="post-content rte">
		{% if index %}
		  {{ article.excerpt }}
		{% else %}
        <div>
          <div class="blog-social" style="text-align: left; background: #e7eaef; display: inline-block; margin-top: 25px; margin-bottom: 25px; padding: 6px 5px 0 10px; border-radius: 5px;">	
            <span style="font-size: .9rem; vertical-align:top;">Share:</span> &nbsp;&nbsp;
            <a href="https://sungenomics1.leaddyno.com/sharing_widget/share?channel=mail" class="ld-share-link ld-email" style="margin: 0 5px 0 0"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
            <a href="https://sungenomics1.leaddyno.com/sharing_widget/share?channel=facebook" class="ld-share-link ld-facebook" style="margin: 0 5px"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://sungenomics1.leaddyno.com/sharing_widget/share?channel=twitter" class="ld-share-link ld-twitter" style="margin: 0 5px"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="https://sungenomics1.leaddyno.com/sharing_widget/share?channel=pinterest" class="ld-share-link ld-pinterest" style="margin: 0 5px"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
          </div>
        </div>
        
        
		  {{ article.content }}
		{% endif %}
	  </div>
	  
	
	  <div style="clear: both;"></div>
	  
	  
	  
		</div>
		

  </div>
  
  		  {% if index %}
			<footer class="post-meta">
				<div class="col-grid">
				<div class="col-6">
					{% if article.content != "" %}
				{%comment%}	
                  <a class="button post-button" href="{{ article.url }}">
						{{ 'blogs.article_item.read_more' | t }} &gt;
					</a>
                  {%endcomment%}
				  {% endif %}
				  &nbsp;
				</div>
				<div class="col-6 text-right">
					 {% if article.tags.size > 0 %}
					<div class="post-list-tags">
						  <span>
							{% for tag in article.tags %}
							  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="post-tags">{{ tag }}</a>{% unless forloop.last %},&nbsp;{% endunless %}
							{% endfor %}
						  </span>
					</div>
					  {% endif %}
				</div>
				<div class="clear"></div>
				</div>
			</footer>
		  {% endif %}
</article>
{% else %}

<article class="post {{class_hasexcerpt}} {{class_hasimage}}  {% for tag in article.tags %} {{ tag }} {% endfor %} " onclick="location.href='{{ article.url }}'">
  
<div class="post-wrapper-inner">
  
  {% if index and article.image %}
	<div class="post-image-wrapper ">
		<!-- <div class="post-image" style="background-image: url('{{ article.image | img_url: '700x700' }}');"> -->
			<img class="post-image" src="{{ article.image | img_url: '700x700' }}" alt="{{ article.title | strip_html | escape }}" />
		<!-- </div> -->
	</div>
  {% endif %}
  
  
	<div class="post-list-content">
	  
	  <header class="post-title">
		<h2>
		  {% if index %}<a href="{{ article.url }}">{% endif %}
			{{ article.title }}
		  {% if index %}</a>{% endif %}
		</h2>
	  </header>
	  
	  <div class="post-subtitle post-meta">
		<span>{{ article.published_at | date: format: 'short_month' }}</span>
		  <span>{{ 'blogs.article_item.posted_by' | t }}: Sun Genomics Staff<!-- {{ article.author }}--></span>
		{% if article.tags.size > 0 %}
		  <span>
			{% for tag in article.tags %}
			  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="post-tags">{{ tag }}</a>{% unless forloop.last %},&nbsp;{% endunless %}
			{% endfor %}
		  </span>
		{% endif %}
	  </div>

      

      
      
	  <div class="post-content rte">
		{% if index %}
		  {{ article.excerpt }}
		{% else %}
        <div>
          <div class="blog-social" style="text-align: left; background: #e7eaef; display: inline-block; margin-top: 25px; margin-bottom: 25px; padding: 6px 5px 0 10px; border-radius: 5px;">	
            <span style="font-size: .9rem; vertical-align:top;">Share:</span> &nbsp;&nbsp;
            <a href="https://sungenomics1.leaddyno.com/sharing_widget/share?channel=mail" class="ld-share-link ld-email" style="margin: 0 5px 0 0"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
            <a href="https://sungenomics1.leaddyno.com/sharing_widget/share?channel=facebook" class="ld-share-link ld-facebook" style="margin: 0 5px"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://sungenomics1.leaddyno.com/sharing_widget/share?channel=twitter" class="ld-share-link ld-twitter" style="margin: 0 5px"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="https://sungenomics1.leaddyno.com/sharing_widget/share?channel=pinterest" class="ld-share-link ld-pinterest" style="margin: 0 5px"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
          </div>
        </div>
        
        
		  {{ article.content }}
		{% endif %}
	  </div>
	  
	
	  <div style="clear: both;"></div>
	  
	  
	  
		</div>
		

  </div>
  
  		  {% if index %}
			<footer class="post-meta">
				<div class="col-grid">
				<div class="col-6">
					{% if article.content != "" %}
				{%comment%}	
                  <a class="button post-button" href="{{ article.url }}">
						{{ 'blogs.article_item.read_more' | t }} &gt;
					</a>
                  {%endcomment%}
				  {% endif %}
				  &nbsp;
				</div>
				<div class="col-6 text-right">
					 {% if article.tags.size > 0 %}
					<div class="post-list-tags">
						  <span>
							{% for tag in article.tags %}
							  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="post-tags">{{ tag }}</a>{% unless forloop.last %},&nbsp;{% endunless %}
							{% endfor %}
						  </span>
					</div>
					  {% endif %}
				</div>
				<div class="clear"></div>
				</div>
			</footer>
		  {% endif %}
</article>
{% endif %}