<style>
  .header-navigation-list .myBtn:hover{
          color: #aeaeae!important;
        background: inherit;
     
  }
  .module-breadcrumbs{display:none;}
 
  .module-title {
    display: block;
    margin: 0;
    padding: 0;
    text-align:center;
    color: #000;
}
    .bg-wrapper{
  background-color:#efefef;
  }
  a, body, label, li, p, select, span, td, th {
        font-family: SunGenomics,sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #5e5e5e;
        font-weight: 100;
}
  .button:hover, .submit:hover, button:hover {
        background: #aeaeae;
        border-color: #aeaeae;
        color: white;
}
  .button, .submit, button{
  	        position: relative;
        display: inline-block;
        vertical-align: top;
        padding: 15px 30px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        color: #aeaeae;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid #aeaeae;
  }
  .button.secondary, .submit.secondary {
        background: transparent;
        border-color: #d2d0d0;
        color: #d2d0d0;
}
  .button.secondary:hover, .submit.secondary:hover, button.secondary:hover {
        background: #d2d0d0;
        border-color: #d2d0d0;
        color: white;
}
  .module-body{padding-bottom:30px;}
  .module-header{padding-bottom:0px;}
  
  a, body, label, li, p, select, span, td, th {
        font-family: SunGenomics,sans-serif;
        font-size: 1rem;
        line-height: 1.7;
        color: #5e5e5e;
        font-weight: 100;
}
  .text-link, a, a:hover {
        color: #FF5C35;
        text-decoration: none;
        cursor: pointer;
}
  .module-register .module-content{
      max-width: 100%;
    background-color: transparent;
    border:None;
    margin:0;
  }
  .input-wrapper {
    margin: 0px 0;
}
  .cta-container{
      padding: 20px 0;
    text-align: center;
  }
  .cta-container input{
      box-sizing: border-box;
    box-shadow: none;
    padding: .4rem 1rem;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    overflow: hidden;
        font-size: 1rem;
    line-height: 1.7;
    background-color:#EFEFEF;
    border-radius:0;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    color:#000;
        text-transform: initial;
  }
.new_module_content form{
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
}
  .input-wrapper label{
    display: none;
  }
  .input-wrapper input{
    border-radius: 25px;
    background: #FFFFFF;
  }
  .btn_submit_new {
    grid-column: 1 / span 2;
    text-align: center;
    margin: auto;
    display: block;
  }
  .btn_submit_new .button{
     font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #FF5C35;
    padding: 8px 80px;
    border-radius: 40px;
    border: unset;
  }
  .new_bg_wrapper{
/*      background-image: url(https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_de0875d9-e0fb-487b-afdd-59b32c83a626.png?v=1658724483); */
    background-repeat: no-repeat;
    background-size: cover; 
  }
 
  .new_register_pa{
    padding-top: 7rem !important;
  }
 ::placeholder {
  color: #000000 !important;
}
  .align_box1 input, .align_box2 input, .align_box3 input, .align_box4 input{
    width: 75%
  }
.align_box1, .align_box3{
    display: flex;
    justify-content: end;
}
.errors {
    grid-column: 1 / span 2;
    text-align: center;
}  
  
.REGISTER_box_btn {
  border: unset !important;
  color: #FF5C35 !important;
  padding-top: 2rem !important;
  letter-spacing: 1px;
  font-size: 16px !important;
  background: transparent !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700 !important;
}
.module_text{
  max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}
  
 @media screen and (max-width: 720px){
    .pxs-video-header, .pxs-rich-text, .module {
            padding-top: 0px;     
    }
   .module-body {
        padding-bottom: 0px;
	}
 }
  @media (max-width: 768px){
     .align_box1 input, .align_box2 input, .align_box3 input, .align_box4 input{
         width: 100%
     }
    .align_box1, .align_box3{
    display: flex;
    justify-content: unset;
}
     .new_bg_wrapper{
/*     background-image: url(https://cdn.shopify.com/s/files/1/2204/9357/files/Rectangle_2.png?v=1658727858); */
  }
      .module-header{padding-bottom:40px;}
    .module-header h1{
      font-size:30px;
    }
   .new_register_pa {
    padding-top: 2rem !important;
    padding-bottom: 2rem;
   }
    .new_module_content form {
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}
    .new_module_content{
      padding: 0 !important;
    }
    .btn_submit_new {
   margin-right: unset;
    text-align: center;
}
  }

 @media(max-width: 580px){
   .module-header{
     padding-bottom: 30px;
   }
    .new_module_content form {
    display: block !important;
    max-width: 80vw !important;
    margin: auto !important;
  }
  
  .new_module_content form > div {
      margin: 0px !important;
      margin-top: 15px !important;
  }
  
  .input-wrapper.align_box3 {
      margin-top: 0px !important;
  }
  }
</style>

<div class="module-wrapper bg-wrapper new_bg_wrapper">
  <div class="module module-register new_register_pa">
    <div class="module-header">
      <h1 class="module-title page-title">Create Account</h1>
      <p class="module_text"> <strong>Note:</strong> Your Flore billing and subscription account is a separate login from the portal/mobile app. You are welcome to use the same email address as you use for the portal or will use for the portal. </p>
    </div>
    <div class="module-body">
      <div class="module-content new_module_content">
        {% form 'create_customer' %}

          {% if form.errors %}
            {{ form.errors | default_errors }}
          {% endif %}
          <div class="input-wrapper align_box1">
            <label for="customer_first_name">First Name</label>
            <input type="text"  placeholder="First Name" value="{{ form.first_name }}" name="customer[first_name]" id="customer_first_name" class="{% if form.errors contains 'first_name' %}error{% endif %}" required>
          </div>

          <div class="input-wrapper align_box2">
            <label for="customer_last_name">Last Name</label>
            <input type="text" placeholder="Last Name" value="{{ form.last_name }}" name="customer[last_name]" id="customer_last_name" class="{% if form.errors contains 'last_name' %}error{% endif %}" required>
          </div>

          <div class="input-wrapper align_box3">
            <label for="customer_email">Your Email Address</label>
            <input type="text" placeholder="Your Email Address" value="{{ form.email }}" name="customer[email]"  id="customer_email" class="{% if form.errors contains 'email' %}error{% endif %}" required>
          </div>

          <div class="input-wrapper align_box4">
            <label for="customer_password">Create a Password</label>
            <input type="password" placeholder="Create a Password" value="" name="customer[password]" id="customer_password" class="{% if form.errors contains 'password' %}error{% endif %}" required>
          </div>

          <div class="input-wrapper cta-container btn_submit_new">
            <input class="button" type="submit" value="CREATE ACCOUNT">
         {% comment %}   <span class="already-customer"><a href="{{ routes.account_url }}">{{ "customer.register.already_customer" | t }}</a></span>{% endcomment %}
           <div class="input-wrapper REGISTER_box">
              <a class="button secondary REGISTER_box_btn" href="/account/login?return_url=%2Faccount">Log In</a>
            </div>
          </div>

        {% endform %}
        
      </div>
    </div>
  </div>
</div>
