
<style>
  .header-row {
    position: relative;
  }
  .branding-logo-link img{
    width: 100%;
    max-width: 100%;
    aspect-ratio: 2/1;
    object-fit: contain;
}
#shopify-section-clinical-header .branding-logo-link img {
  object-fit: contain;
}
  
.header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
  
.main-row-inner-cli { 
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 0.5fr 0.5fr 2fr;
    padding: 0 0 0 16px;
}
.Resources_main{
text-align: center;
}

  
.join-btn,
.join-btn:hover {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.join-btn_box .join_on {
  margin-right: 39px;
}
.affilate_main{
    text-align: end;

}



@media (max-width: 1024px) {
.affilate_main {
    text-align: center;
}
.join-btn_mob,
.join-btn_mob:hover {
  font-size: 22px !important;
  font-weight: 500;
  color: #fff !important;
}
  .dd-menu li a {
    text-align: start !important;
  }
}

@media (min-width: 769px) {
#clinical_header{
display: none;
}

}

@media (max-width: 768px) {

  
  .main-row-inner-cli {
    display: grid;
    align-items: center;
    grid-template-columns: unset;
}
  .main-row-inner-cli {
/*     padding: 0 10px; */
    gap: 10px;
  }

  .main-row-inner-cli .logos {
    flex-grow: 1;
  }

  .logos .branding-logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .join-btn_box {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    gap: 10px;
  }
  .join-btn_box .join_on {
    margin-right: unset;
  }
}
.Resources_main .icon-angle-down:before {
    content: "";
    color: #797676;
}
  .clinical_hover_inner {
    border-radius: 5px;
    position: absolute;
    top: 75px;
    display: none;
    width: 300px;
    max-width: 300px;
    padding: 15px 20px;
    text-align: start;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    z-index: 2;
    margin-top: 0;
}
.clinical_hover_wapper:hover  .clinical_hover_inner{
  display: block;
}
  .clinical_hover_inner li a{
    color: #000;
}
  .clinical_hover_inner li a:hover{
    color: #ff5c35;
}

  .clinical_hover_inner:before {
    border-bottom-color: #e3e3e3 !important;
    border-width: 8px !important;
    margin-left: -8px;
}
  .clinical_hover_inner:before, .clinical_hover_inner:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #88b7d500;
}
  

  .clinical_hover_inner:after {
    border-width: 7px;
    margin-left: -7px;
    border-bottom-color: #fff;
}

/*mobile menu  */
#clinical_header{
    position: absolute;
}
  
	.navbar_clinical_header {
	    display: table;
	    width: 100%;
	    z-index: 99;
        top: 0;
	}

	.navbar_clinical_header .nav_bar_clinical_header ul li {
	    display: block;
	}

	.navbar_clinical_header .nav_bar_clinical_header ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0;
    flex-direction: column;

	}

	.navbar_clinical_header .nav_bar_clinical_header ul li a {
	    font-size: 18px;
	    display: inline-block;
	    text-align: center;
	    text-decoration: none;
	    color: #000;
	    padding: 0 18px;
	    text-transform: uppercase;
	}


	.navbar_clinical_header button.menu-btn { 
	    display:none;
	}

  .clinical_header{
display: none;
}

@media only screen and (max-width: 768px){

.navbar_clinical_header .primary-list-item.open .secondary-list {
    display: block;
    top: auto;
    left: auto;
    position: relative;
    border: none;
}
  
 .navbar_clinical_header .secondary-list:before{
display: none;
}
 .navbar_clinical_header .secondary-list:before, .secondary-list:after{
    display: none
  }
  	.nav_bar_clinical_header {
	    text-align: center;
	    display:flex;
	    flex-wrap:wrap;
	    justify-content:center;
	    align-items: center;
	    position: relative;
	}
   .navbar_clinical_header  button.menu-btn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: unset;
        border: 0;
        font-size: 26px;
        display:block;
        padding: 23px;
        color: #fff;
        outline: none;
    } 
    .navbar_clinical_header{
	    height:100%;
	    z-index: 999;
	}
    .navbar_clinical_header .nav_bar_clinical_header {
        left: -950px;
        background-color: #191919fa;
        transition: 1s;
        height: 50vh;
      top: 9.5%;
    }

	.navbar_clinical_header.open-nav  .nav_bar_clinical_header{
	    left: 0;
	    width: 100%;
	    transition: left 0.5s;
	    height: 50vh;
       top: 9.5%;
	}

	.navbar_clinical_header .nav_bar_clinical_header ul li a {
	     display: block;
	     color: #fff;
	}
	.navbar_clinical_header.open-nav button.menu-btn i:before {
	    content: '\f00d ';
	}
  .affilate_main, .clinical_hover_wapper{
display: none;
}
}
  .primary-list-item .secondary-list {
    display: none;
}
.primary-list-item.open .secondary-list {
    display: block;
}

#clinical_header .navigation .header-navigation-list  .secondary-list .secondary-list-item .secondary-link{
font-size: 15px !important;
    color: #c0bcbc;
    text-align: start;
}
  
/* Dropdown */

.dd-menu li a {
    text-align: start !important;
  }
.dropdown {
  display: inline-block;
  position: relative;
      text-align: start;
}

.dd-button {
  display: inline-block;
  padding: 10px 30px 10px 20px;
  cursor: pointer;
  white-space: nowrap;
 text-align: start !important;
}
  

.dd-input {
  display: none;
}

.dd-input + .dd-menu {
  display: none !important;
} 

.dd-input:checked + .dd-menu {
display: block !important;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}


.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}
/* .close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 23px;
    font-weight: 700;
    font-size: 32px;
    color: #FFF;
    z-index: 2;
}
 */

  
</style>

<header style="background: #fff;">

  <div class="header-wrapper">
    
    <div class="header-row main-row-inner-cli">
      {% if section.settings.header_logo != blank %}
      <div class="logos">
        <a class="branding-logo-link" href="https://flore.com/pages/flore-clinical">
        <img src="https://cdn.shopify.com/s/files/1/2204/9357/files/Untitled_1_6673e95a-5853-4612-9e2f-8ea8a1f9a738.png?v=1678880696" width="100%" height="100%" alt="flore_logo"/> 
        </a>
      </div>
      {% endif %}
      
        <div class="join-btn_box Resources_main clinical_hover_wapper"> 
      {% if section.settings.join3 != blank %}
      <a href="{{ section.settings.join_link3 }}" class="join-btn">{{section.settings.join3}} </a>
      {% endif %}
      <span class="icon icon-angle-down header-navigation-list-arrow" data-dropdown-toggle="" tabindex="0" ></span>
    
        <ul class="clinical_hover_inner">
                {% for block in section.blocks %}
          <li class="">
            <a class="" href="{{ block.settings.member_clinical_url }}">{{ block.settings.member_clinical  }}
            </a>
          </li>
                  {% endfor %}
         </ul>
       
      </div>
      <div class="join-btn_box affilate_main"> 
      {% if section.settings.join != blank %}
      <a href="#" class="open-affilate-form join-btn join_on ">{{section.settings.join}} 
      </a>
      <a href="{{ section.settings.join_link1 }}" class="join-btn">{{section.settings.join1}} </a>
      {% endif %}
      </div>
      
<div id="clinical_header" class="navbar_clinical_header">
	<div class="nav_bar_clinical_header">

            <div class="navigations-inline">
    
 <nav class="clinical_header_navbar">
  <ul class="clinical_header_navbar_links">

 <label class="dropdown">
  <div class="dd-button">
     <a href="{{ section.settings.join_link3  }}" class="join-btn_mob">{{section.settings.join3}}</a>
     <span class="icon icon-angle-down header-navigation-list-arrow" data-dropdown-toggle="" tabindex="0" ></span> 
  </div>

  <input type="checkbox" class="dd-input" id="test">
    <ul class="dd-menu">
                {% for block in section.blocks %}
          <li class="">
            <a class="" href="{{ block.settings.member_clinical_url }}">{{ block.settings.member_clinical  }}
            </a>
          </li>
          {% endfor %}
         </ul>
  
</label>
   
   

    <li><a href="#" class="open-affilate-form join-btn join_on ">{{section.settings.join}} </a></li>
    <li>  <a href="{{ section.settings.join_link1 }}" class="join-btn">{{section.settings.join1}} </a></li>
  </ul>
</nav>
 
            </div>		
	</div>
<!--  <span class="close">&times;</span> -->
	<button type="" class="menu-btn"><svg style="display: block; height: 22px; margin-top: 18px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="#000" d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"></path></svg></button>
</div> 

            
    </div>
      
  </div>

  
</header>
<script>
$(document).ready(function () {
		$('.menu-btn').click(function(event) {
			$('.navbar_clinical_header').toggleClass('open-nav');
		});
	});
   document.querySelectorAll('#drawer-navigation .has-dropdown .header-navigation-list-arrow').forEach(btn => {
    btn.addEventListener('click', ()=> {
    btn.closest('.has-dropdown').classList.toggle('open') ; 
  });
  })

  
</script>


{% schema %}
{
  "name": "Clinical Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Logo image",
      "info": "400 x 200px .png recommended"
    },
	{
      "type": "text",
      "id": "join",
      "label": "Join Now Button"
    },
   {
      "type": "url",
      "id": "join_link",
      "label": "Join Now Link"
    },
    {
      "type": "text",
      "id": "join1",
      "label": "Join Now Button"
    },
   {
      "type": "url",
      "id": "join_link1",
      "label": "Join Now Link"
    },
    {
      "type": "text",
      "id": "join3",
      "label": "Resources"
    },
   {
      "type": "url",
      "id": "join_link3",
      "label": "Resources Link"
    },
    {
      "type": "link_list",
      "id": "clinical_mobile",
      "label": "Menu"
    }
  ],
    "blocks": [
    {
      "type": "text",
      "name": "menu",
      "settings": [
    {
      "type": "text",
      "id": "member_clinical",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "member_clinical_url",
      "label": "Link"
    }
      ]
    }
  ]
}

{% endschema %}

