<style>
.upgrade_save_col {
    border: 1px solid transparent;
}

.upgrade_save_col:hover {
    border: 1px solid #206766;
    border-radius: 10px;
    background: #6fa3a452;
    cursor: pointer;
}
  
.clinical_new_sl .upgrade_save_col a{
   pointer-events: none;
   cursor: default;
}
  
  .slick-prev:before, .slick-next:before {
    color: #206766 !important;
  }
.upgrade_save_outer {
    padding: {{section.settings.outer_padding}}px 20px;
  	font-family: sk-modernist,sans-serif;
}
  
  #suggested-{{section.id}} {
    {% if section.settings.background_image != blank %}
    background-image : url({{section.settings.background_image | img_url : 'master'}});
    background-color: #fff;
    background-size: cover;
    {% else %}
    background-color : {{section.settings.background_color | default : '#fff'}};
    {% endif %}
  }
  

.upgrade_save_inner {
    max-width: 1200px;
    margin: auto;
}

h3.upgrade_save_head {
    display: block;
    color: #FF5C35;
  color: {{ section.settings.heading_color}};
    font-size: 45px;
    font-weight: 700;
    text-align: center;
  font-family: sk-modernist,sans-serif;
}

.upgrade_save_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.upgrade_save_col {
    width: 33.33%;
    padding: 10px;
}

.upgrade_save_col img {
    width: auto;
    margin: auto;
    max-height: 170px;
    height: 100%;
}

p.upgrade_save_title, p.upgrade_save_money {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 0px;
  	color:#000;
  font-family: sk-modernist,sans-serif;
  line-height: 1.4;
}
p.upgrade_save_money {
    padding: 5px 0px 20px;
}
  
.upgrade_save_atc {
    background: #FF5C35 !important;
    border-radius: 42px !important;
    padding: 7px 30px !important;
    margin: auto;
    display: block;
}

.upgrade_save_atc span.button-label {
    font-size: 13px !important;
  font-family: sk-modernist,sans-serif;
      font-weight: 700;
}  

.slick-prev:before, .slick-next:before {
    color: #FF5C35;
/*     background: white; */
}  

.upgrade_save_col .product-form {
    display: block;
}  
  
  @media(max-width:600px){
  h2.upgrade_save_head {
    font-size: 36px;
    line-height: 1.2;
}

.upgrade_save_col {
    width: 100%;
}
    
#suggested-{{section.id}} {
{% if section.settings.background_image != blank %}
background-image : url({{section.settings.background_image | img_url : 'master' | prepend: "https:" }});
background-color: #fff;
background-size: 100% 100%;
{% else %}
  background-color : {{section.settings.background_color | default : '#fff'}};
{% endif %}
}
} 

/*  Popup Design    */
.popup-{{section.id}} {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100%;
    background: #000000ab;
    z-index: 999;
    top: 0;
}    
.popup_inner-{{section.id}} {
    width: 700px;
    background: #fff;
    padding: 20px 60px 30px;
    height: auto;
    top: 15%;
    position: relative;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.popup_image {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 280px;
    height: auto;
}

.popup_headline {
    font-size: 38px;
    color: #006c68;
    font-weight: 700;
    line-height: 1.4;
    text-align:center; 
}

.popup_description {
    line-height: 1.2;
    font-size: 16px;
    text-align: center;
}

.popup_price {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom:20px;
}  
    
.popup_info{
  font-size:12px;
  margin-top:25px;  
}    
@media(max-width:720px){
  .popup_inner-{{section.id}}{
      max-width: 80vw;
  }
}

@media(max-width:580px){
  .popup_inner-{{section.id}} {
      padding: 10px 15px 25px;
      top: 30px;
      max-width: 90vw;
  }
  
  .popup_headline {
      font-size: 20px;
  }
  
  .popup_price {
      font-size: 17px;
  }
  
  .popup_info {
      margin-top: 14px;
  }
}
  
/* End Popup Design */
    
@media(max-width: 768px){
  .upgrade_save_outer h3{
    font-size: 36px;
  }
  .upgrade_save_outer {
padding: 30px 20px;
}
}
  
</style>

<div id="suggested-{{section.id}}" class="upgrade_save_outer clinical_new_sl">
  <div class="upgrade_save_inner">
    <h3 class="upgrade_save_head">{{section.settings.headline}}</h3>
    {% if section.settings.subhead != blank%}
    <p class="upgrade_save_sub_head">{{section.settings.subhead}} </p>
      {% endif %}
    <div class="upgrade_save_row">
       {% for block in section.blocks %}
        <div class="upgrade_save_col" data-title="{{ block.settings.productText }}" data-description="{{ block.settings.description_popup}}" data-price="{{ block.settings.price}}" data-image="{{ block.settings.image | img_url: '800x800' }}">
          <img src="{{ block.settings.image | img_url: '400x400' | prepend: "https:" }}" alt="{{ block.settings.image.alt }}" loading="lazy" height="100%" width="100%">
          <p class="upgrade_save_title">{{ block.settings.productText }}</p>
<!--           <p class="upgrade_save_money">{{ block.settings.price}}</p> -->
        </div>      
  {% endfor %}
 
    </div>
  </div>
</div> 
<!-- Popup -->
<div class="popup-{{section.id}}" style="display:none;">
    <div class="popup_inner-{{section.id}}">
        <img src="" alt="" class="popup_image" loading="lazy" height="100%" width="100%">
        <span class="popup_headline"></span>
        <span class="popup_price"></span>
        <span class="popup_description"></span>
        <span class="popup_info">*Results of these add-on clinical tests are not used for custom probiotic formulation.</span>
    </div>
</div>

<!-- EndPopup -->
<script>
 jQuery('.upgrade_save_row').slick({
  infinite: true,
  dots:true,
  arrows: true,
  slidesToShow: 3,
  slidesToScroll: 2,
    speed: 300,
  swipeToSlide: true,
  responsive: [{
    breakpoint: 992,
    settings: {
      slidesToShow: 2
    }
  }, {
    breakpoint: 768,
    settings: {
      slidesToShow: 1,
      arrows: false
    }
  }]
});


// POPUP
let popup = document.querySelector('.popup-{{section.id}}');
let slide_item = document.querySelectorAll('.upgrade_save_col');
slide_item.forEach(item => {
item.addEventListener("click", ()=>{
    console.log(item);
    let title = item.getAttribute('data-title');
    let image = item.getAttribute('data-image');
    let price = item.getAttribute('data-price');
    let description = item.getAttribute('data-description');
    popup.querySelector('.popup_headline').innerHTML = title;
    popup.querySelector('.popup_image').src = image;
    popup.querySelector('.popup_price').innerHTML = price;
    popup.querySelector('.popup_description').innerHTML = description;
    popup.style.display = "block";
    })
}); 

popup.addEventListener('click', (e)=>{
    if(e.target == popup){
        popup.style.display = "none";
    }
})
  
</script>  
  
  

{% schema %}
  {
    "name": "Clinical Products",
    "settings": [
          {
            "type": "text",
            "id": "headline",
            "label": "Heading",
            "default": "Headline"
          },
          {
            "type": "color",
          "id": "heading_color",
          "label": "Heading color",
            "default": "#FF5C35"
         } ,
		  {
            "type": "text",
            "id": "subhead",
            "label": "Heading",
            "default": "Headline"
          },
  		  {
            "type": "html",
            "id": "style",
            "label": "Style",
            "default": "h1{}"
          },
        {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
        },
  		{
      "type": "image_picker",
      "id": "background_image",
  		"label": "Background Image"
    },
   {
  "type": "range",
  "id": "outer_padding",
  "min": 0,
  "max": 100,
  "step": 1,
  "unit": "px",
  "label": "Spacing",
  "default": 4
   }
	],
		"blocks":[
			{
				"name":"Product",
				"type":"product",
				"settings":[
					{
                        "type":"image_picker",
                        "label":"Product Image",
                        "id":"image"
                    },
					{
                        "type": "text",
                        "id": "productText",
                        "label": "Product Title",
                        "default": "Headline"
                    },
                    {
                        "type":"text",
                        "label":"price",
                        "id": "price"
                    },
                    {
                        "type":"html",
                        "label":"description in popup",
                        "id": "description_popup"
                    }
	
				]
			}
		
		

		],
    "presets": [
    {
      "category": "Advanced content",
      "name": "clinical products",
      "settings": {}
    }
  ]
  }
{% endschema %}
