{{ 'product-faqs.css' | asset_url | stylesheet_tag }}

<style>
#section-faqs-{{section.id}} .section-two-outer{
  background-color: {{section-settings.background_color}};
}
  @media(min-width:767px){
  
    #section-faqs-{{section.id}} {
      background-image : url({{section.settings.background_image | img_url: 'master' | prepend: "https:" }});
      background-size: 100% 100%;
    padding: 8rem 2rem;
    background-position: center;
    position: relative;
    }
    
  }
 
  @media(max-width:768px){
  
    #section-faqs-{{section.id}} {
      background-image : url({{section.settings.background_image_mobile | img_url: 'master' | prepend: "https:" }});
/*       background-size: 100% 100%; */
    padding: 4rem 2rem;
    background-position: center;
    position: relative;
      background: #6b8389;
    }
    
    
    
  }
  

</style>

<div id="section-faqs-{{section.id}}" class="section-two-outer"  >
    <div class="section-two-inner">
        
        <h3 class="section-two-head">{{section.settings.heading}}</h3>
     
        <div class="section-second-inner-row">
            <div class="section-second-inner-column-left">
                <div class="list-second-section">
                    {% assign block = section.blocks | where: 'type', 'block-1' %}
                    <div class="one">
                        <!-- Accordion  -->
                      {% for block in block %}
                      <div class="faq-main-box">
                        <div class="first"><h4>{{block.settings.subheadline_accordion}}</h4> <span class="faq-icon"><i class="fa fa-plus" aria-hidden="true"></i></span></div>

                        <div class="first-p">{{block.settings.subheadline_data_accordion}}</div>
                      </div>
                   {% endfor %}
                    </div>
                </div>
            </div>
          
           <div class="section-second-inner-row-right">
             {% assign block02 = section.blocks | where: 'type', 'block-2' %}
                <div class="one">
               {% for block in block02 %}
                  <div class="faq-main-box">
                        <div class="first"><h4>{{block.settings.subheadline_accordion}}</h4> <span class="faq-icon"><i class="fa fa-plus" aria-hidden="true"></i></span></div>

                        <div class="first-p">{{block.settings.subheadline_data_accordion}}</div>
                      </div>
                 {% endfor %}
                </div>
            </div>
          
        </div>
        <div class="faqs_btn_conatiner">
            <a href="{{section.settings.url_button}}"  class="faqs_btn">{{section.settings.button_name}}</a>
        
        </div>

    </div>
 

</div>

<script>
  $( document ).ready(function() {
      $('.first-p').hide();
          
     $( document ).on( 'click', '.faq-main-box', function () { 
        $('.faq-main-box').removeClass('active-parent'); 
        $(this).addClass('active-parent');
    });
    $( document ).on( 'click', 'div.first', function () { 
        $('div.first').removeClass('faq-active'); 
        $(this).addClass('faq-active');
      $(this).next().slideToggle(300);
      
    });
    
});
</script>

{% schema %}
  {
    "name": "Product Faqs",
    "settings": [
     {
       "type": "text",
       "id": "heading",
        "label": "Section Heading"
       },
      {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#FFFFFF"
     } ,
       {
       "type": "image_picker",
       "id": "background_image",
       "label": "Background Image"
       },
		{
       "type": "image_picker",
       "id": "background_image_mobile",
       "label": "Background Image Mobile"
       },
       {
       "type": "text",
       "id": "button_name",
       "label": "Button Name"
       },
       {
       "type": "url",
       "id": "url_button",
       "label": "Button Url"
       }
      ],
  "blocks": [
    {
      "type": "block-1",
      "name": "FAQS DATA",
      "settings": [
        {
          "type": "text",
          "id": "subheadline_accordion",
	  	  "label": "Questions"
        },
        {
          "type": "textarea",
          "id": "subheadline_data_accordion",
	  	  "label": "Answer"
        }
      ]
    },
  {
      "type": "block-2",
      "name": "FAQS DATA 2",
      "settings": [
        {
          "type": "text",
          "id": "subheadline_accordion",
	  	  "label": "Questions"
        },
        {
          "type": "textarea",
          "id": "subheadline_data_accordion",
	  	  "label": "Answer"
        }
      ]
    }
  ],
 
"presets": [
    {
      "name": "Product faqs ",
      "settings": {
}
    }
  ]
  }

{% endschema %}


