<style>

#section-{{section.id}} .contain-1200{
	padding-top:{{section.settings.padding_top | default : '70'}}px;
	padding-bottom:{{section.settings.padding_bottom | default : '70' }}px;
}
  
  #section-{{section.id}}{
    background-color : {{section.settings.background_color}}
  }
  
  .content-wrapper{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .check-wrapper{
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 60rem;
    margin: 0 auto;
    gap: 15px;
  }
  .description-check a{
      text-decoration: underline;
  }
  
  .heading-all{
      font-size: 42px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1.5rem;
    font-family: sk-modernist,sans-serif;
  } 
  .description , .description p {
  font-size: 20px;
    font-family: sk-modernist;
    color: #231f20;
    font-weight: 400;
    line-height: 1.4;
  }
  .description-check{
  padding-bottom:2rem;
  }
  .check-one, .check-one span{
        display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
  }
  
  .check-one svg {
      height: 25px;
    width: 25px;
  }
  
  @media(max-width:768px){
  
    .heading-all {
    font-size:24px;
    }
    .description, .description p{
    font-size:16px;
    }
    .check-wrapper{
    grid-template-columns: repeat(1, 1fr);
      max-width: 19rem;
    }
    .check-one, .check-one span{
    gap:10px;
    }
    
    .check-one h4 {
    font-size:16px;
    }
    
  }


</style>


<div id="section-{{section.id}}" class="checkboxes ">

  <div class="contain-1200 padding-mobile-1250">
  
    <div class="inner-checkboxes">
      <div class="content-wrapper">
        {% if section.settings.heading != blank %}<h3 class="heading-all">{{section.settings.heading}}</h3>{% endif %}
        {% if section.settings.description != blank %}<div class="description description-check">{{section.settings.description}}</div>{% endif %}       
        {% if section.settings.link_text != blank %} <div class="description description-check" style="margin-bottom: 20px;"> <a href="{{ section.settings.link_pdf }}" target="_blank" rel="noreferrer">{{ section.settings.link_text }}</a></div>  {% endif %}   
      </div>
      <div class="check-wrapper">
        {% for block in section.blocks %}
        <div class="check-li">
          <div class="check-one"><span>{% render 'check' %}</span><h4>{{block.settings.checks}}</h4></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Heading With CheckBoxes",
  "class": "checkboxes-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
	  "label" : "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
	  "label" : "Description"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text"
    },
	{
      "type": "url",
      "id": "link_pdf",
      "label": "Link"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 60,
      "max": 100,
      "step": 5,
      "unit": "px",
		"default": 70,
	  "label" : "Padding Top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 60,
      "max": 100,
      "step": 5,
      "unit": "px",
		"default": 70,
	  "label" : "Padding Top"
    },
	{
      "type": "color",
      "id": "background_color",
		"label" : "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "check",
      "name": "Check Box",
      "settings": [
        {
          "type": "text",
          "id": "checks",
	      "label" : "Check"
        }
      ]
    }
  ],
  "presets" : [
    {
      "name": "Heading with checks",
      "settings": {
		}
    }
  ]
}
{% endschema %}


{% javascript %}
{% endjavascript %}
