<style>
    /* Desktop CSS Start */
    .section6
    {
      padding: 120px 0px 80px 0px;
      font-size: 30px;
      background: url(https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object.png?v=1646643709);
      background-size: cover;
    }
  .section6-1 h6 {
    color: #FF5C35;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 0px;
    padding-top: 20px;
    text-align: center;
    font-weight: 500;
    font-family: 'sk-modernist',sans-serif;
	}
  .sec6-1 p {
    font-size: 28px;
    color: #000;
    font-weight: 500;
	}
  
   .sec6col2 h5{
    color: #FF5C35;
    font-size: 56px;
    font-family: 'sk-modernist',sans-serif;
    font-weight: 700;
    line-height: 1.2;
    }
  .sec6col2 h2{
    color: #FF5C35;
    font-size: 56px;
    font-family: 'sk-modernist',sans-serif;
    font-weight: 700;
    line-height: 1.2;
    }
  	.sec6col2 img {
  	  margin-top: 27px;
	}
  
    .secimg img {
    width: auto;
    max-width: 50px;
    height: auto;
    max-height: 41px;
	margin:auto;
    }
   .sec6col
   {
    max-width: 1200px;
    width: 100%;
    gap:20px;
    display: flex;
    margin: auto;
    justify-content: space-between; 
   }
   .sec6-2 p {
    font-size: 20px;
    color: #231f20;
    line-height: 1.4;
    font-family: 'sk-modernist',sans-serif;
    font-weight: 400;
	}

  .sec6-2 .bold-text {
    font-size: 20px;
    font-weight: 700;
    color: #231f20;
    font-family: 'sk-modernist',sans-serif;
    
	}
  .section6-1 p {
    font-size: 20px;
    color: #231f20;
    line-height: 1.4;
    text-align: center;
    font-family: 'sk-modernist',sans-serif;
    font-weight:400;
	}
  
  .sec6-1
   {
       width: 40%;
   }
   .sec6-2
   {
       width: 50%;
   }
   
    .sec6-11
 {
     display: flex;
  max-width: 1200px;
  width: 100%;
  padding-top: 100px;
  gap: 16px;
  margin: auto;
   flex-wrap:wrap;
   justify-content: space-between;
 }
  .section6-1 {
    width: 23%;
    margin: 0px;
}
  
 .secimg
 {
    background-color: #EFEFEF;
    margin: auto;
    border-radius: 25px;
    border: 1px solid #E2E2E2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .sec6col2
 {
     display: flex;
 }
.section6-1 strong {
    font-weight: 700;
}
a.button_get_started {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #FF5C35;
  padding: 12px 25px 12px 25px;
  border-radius: 40px;
  font-family: 'sk-modernist',sans-serif;
  margin: auto;
  display: block;
  width: fit-content;
  line-height: 1;
  margin-top: 60px;	
} 
  
  .section6 i {
    margin-left: 4px !important;
    font-size: inherit !important;
}
  
  
  /* Mobile CSS Start */

@media(max-width:768px)
 {
.sec6-11
{
    display: block;
    padding-top: 0px;
}
.sec6col
{
    display: block;
} 
.sec6-1{
  margin: auto;
    width:83%;
}
.sec6-2 {
  margin: auto;
  width: 83%;
}
   .sec6col2 h5
{
    font-size: 32px!important;
    text-align: left;
}
.section6 p {

text-align: center;
}
.sec6-2 p {
    text-align: left;
}
.secimg
{
    margin: auto;margin-top: 60px;
}
.section6-1
{
    padding: 23px;
}
.bold-text{
    text-align: left;
    display: block;
}
.section6-1 {
  width: 100%;
}   
  
 }
  
  @media(max-width:600px){
    .section6 p{
    	font-size:16px;
    }
  	.section6 {
      padding: 90px 10px 80px 10px;
      font-size: 30px;
      background: url(https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_1.png?v=1646649548);
      background-size: 220% 100%;
      background-repeat: no-repeat;
      background-position-x: -115px;
	}
    .sec6col2 h5 {
    font-size: 32px !important;
	text-align:left;
    }

    .sec6-1 p {
        font-size: 24px;
    padding-bottom: 0px;
      text-align:left;
    }

    .sec6col2 img {
      margin-top: 9px !important;
      height: 27px;
      width: 82px !important;
    }

    .sec6-2 .bold-text {line-height: 1.3;}

    .sec6-2 {
        width: 100%;
    }

    .sec6-1 {
        width: 100%;
    }

    .secimg {
      margin-top: 0px;
    }
    a.button_get_started{
    	margin-top:25px;
    }
  
  }
  
</style>
    <div class="section6 lazyload">
        <div class="sec6col">
        <div class="sec6-1">
            <p> {{ section.settings.heading }}</p>
            <div class="sec6col2"> <h2>{{ section.settings.sub-heading }} <img data-src="https://cdn.shopify.com/s/files/1/0605/8177/3565/files/side.png?v=1646043903&width=82" src="https://cdn.shopify.com/s/files/1/0605/8177/3565/files/side.png?v=1646043903&width=30" style="width: 82px; height: 25px !important;" class="lazyload" alt="Button"></h2>
            
        </div>
           
        </div>
        <div class="sec6-2">
            <p>{{ section.settings.paragraph-1 }}</p><span class="bold-text" style="font-size:24px;font-weight: 700;">{{ section.settings.paragraph-2 }}</span> 
             <p>{{ section.settings.paragraph-3 }}</p>
        </div>
    </div>
    
    <div class="sec6-11">
        {% for block in section.blocks %}
        <div class="section6-1">
            <div class="secimg"><img class="lazyload" width="48" height="40" data-src="{{ block.settings.image | image_url: width: 200 }}" src="{{ block.settings.image | image_url: width: 30 }}" alt="{{ block.settings.imageAlt }}"></div>
            
            <h6>{{ block.settings.headline }}</h6>
            <p>{{ block.settings.paragraph }}</p>
        </div>
      {% endfor %}
    </div>
      <a href="{{ section.settings.link_url }}" class="button_get_started">
        {{ section.settings.button_text }}<i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
</div>

{% schema %}
  {
    "name": "formulation ",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "default": "Lorem",
            "label": "Heading"
         },
         {
            "type": "text",
            "id": "sub-heading",
            "default": "Lorem",
            "label": "Sub Heading"
         },
         {
            "type": "textarea",
            "id": "paragraph-1",
            "default": "Lorem",
            "label": "Paragraph 1"
         },
         {
            "type": "textarea",
            "id": "paragraph-2",
            "default": "Lorem",
            "label": "Paragraph 2"
         },
         {
            "type": "textarea",
            "id": "paragraph-3",
            "default": "Lorem",
            "label": "Paragraph 3"
         },
		 {
			"type":"text",
			"id":"button_text",
			"label":"Button Text"
		 },
		 {
            "type": "url",
            "id": "link_url",
            "label": "Button url"
		 }
    ],
    "blocks":[
            {
                "name":"Mission Points",
                "type":"text",
                "settings":[
                    {
                      "type":"image_picker",
                      "label":"Image",
                      "id":"image"
                    },
                    {
                      "type": "text",
                      "id": "headline",
                      "default": "Lorem",
                      "label": "Headline"
                    },
                    {
                      "type": "textarea",
                      "id": "paragraph",
                      "default": "Lorem",
                      "label": "Paragraph"
                    },
					{
                      "type": "text",
                      "id": "imageAlt",
                      "default": "Alt Tag",
                      "label": "Alt Tag"
                    }
                ]
            }
        ],
    "presets": [
      {
        "name": "Home New Formulation"
      }
    ]
  }
{% endschema %}


