    <style>
      .processing-section{
        background: #FFF;
      }
  #section-{{ section.id }} .processing-row {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: {{section.settings.padding_top}}px;
    padding-bottom: {{section.settings.padding_bottom}}px;
    }
   #section-{{ section.id }} .processing-small-row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 0px;
    grid-row-gap: 60px;
    align-items: start;
    padding-top: 80px;
    padding-bottom: 40px;
    justify-content: center;
    text-align: center;
}    

#section-{{ section.id }} .step-images h3 {
    font-family: sk-modernist;
    color: #231f20;
    font-weight: 600;
    font-size: 24px;
}
#section-{{ section.id }} .img-box {
    height: 115px;
    word-wrap: break-word;
    position: relative;
}
#section-{{ section.id }} .small-processing-col-1 img, #section-{{ section.id }} .small-processing-col-2 img, #section-{{ section.id }} .small-processing-col-3 img, #section-{{ section.id }} .small-processing-col-4 img, #section-{{ section.id }} .small-processing-col-5 img, #section-{{ section.id }} .small-processing-col-6 img {
    width: 40%;
    height: 100%;
    object-fit: contain;
}
#section-{{ section.id }} .img-box span {
    position: absolute;
    top: 59px;
    right: 0;
}
  #section-{{ section.id }} .processing-small-row .small-processing-col-1:last-child .img-box span{
        display: none;
      }

    .processing-col  h3{
        text-align: center;
    font-family: sk-modernist,sans-serif;
    color: #FF5C35;
    font-size: 45px;
    font-weight: 700;
      }
@media(max-width:768px){

     #section-{{ section.id }} .processing-small-row {
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 15px;
}
   #section-{{ section.id }}   .img-box {
    height: 115px;
    word-wrap: break-word;
    position: relative;
}
    #section-{{ section.id }}  .img-box span {
    right: -18px;
    top: 55px;
}
    #section-{{ section.id }} .processing-small-row {
    padding-top: 40px;
} 
    #section-{{ section.id }} .processing-small-row .small-processing-col-1:nth-child(2) .img-box span{
        display: none;
      }
}
    </style>
 
 
 <div class="processing-section" id="section-{{ section.id }}">
        <div class="processing-row">
          <div class="processing-col">
            <h3>{{ section.settings.heading }} </h3>
          </div>
            <div class="processing-small-row">
        {% for block in section.blocks %}
                <div class="small-processing-col-1 step-images" id="box_img-{{ section.id }}"> 
                    <div class="img-box">
    
                        <img src="{{ block.settings.image | img_url:  'master' }}" alt="{{ block.settings.image.alt }}" loading="lazy">
                        <span> <img class="img_nu_1" src="https://cdn.shopify.com/s/files/1/2204/9357/files/Vector_Smart_Object_6f35fafb-b32c-4383-bf02-8c09d196621a.png?v=1656075522" loading="lazy"> </span>
                    </div>
                    <h3>
                        {{ block.settings.text }}
                    </h3>
                </div>
          {% endfor %}
            </div>
    
        </div>
    </div>



{% schema %}
{
  "name": "how it work link",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
  "type": "range",
  "id": "padding_top",
  "min": 0,
  "max": 100,
  "step": 1,
  "unit": "px",
  "label": "Padding Top",
  "default": 10
},
    {
  "type": "range",
  "id": "padding_bottom",
  "min": 0,
  "max": 100,
  "step": 1,
  "unit": "px",
  "label": "Padding Bottom",
  "default": 10
}
  ],
  "blocks": [
    {
      "type": "box",
      "name": "box",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
  ,
	"presets": [
    {
      "name": "How it Works arrow",
      "settings": {}
    }
  ]
}
{% endschema %}