<style>
	
  .main-test-row {
   margin-top: 75px;
    column-count: 3;
  column-gap: 40px;
    
  }
  .main-test-row{
      display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 20px;
    max-width: 1561px;
    margin: 0 auto;
    align-items: start;
  }
  
  .testimoials {
  	padding: 25px;
    background: #fff;
    margin-bottom: 36px;
    text-align: center;
    box-shadow: 2px 2px 10px 1px rgb(0 0 0 / 5%);
    margin: 0;
    margin-bottom: 60px;
  break-inside: avoid;
    grid-column-end: span 4;
  }
  .section-testimonials {
  	padding:75px 0px;
    background-color:#F8F8F8;
  }
  .testimonial-quote-icon {
    width: 50px;
    height: 50px;
    text-align: center;
    background: #FF5C35;
    padding-top: 6px;
    margin-top: -31px;
        position: absolute;
  }
  .testimonial-quote-icon img {
  	max-width: 34px;
  }
  
  .img-heigth {
  padding:10px 0;
  }
  
  .img-heigth img{
  	  width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .testimonial-name{
  	margin-top:20px;
  }
  .testimonial-name p{
  padding:0px;
  }
  
  strong{
  	Font-weight:700;
    color: #5e5e5e;
    
  }
  .testimonial-name p:last-child{
  	    font-size: .9rem;
    color: #404040;
        max-width: 55%;
    opacity: .5;
    margin: 0 auto;
  }
  .text-body {
  	margin-top: 28px;
  }
  .bottomtext {
  	    max-width: 600px;
    margin: 0 auto;
    text-align:center;
    margin-top: 50px;
  }
  .col-01, .col-02, .col-03{
  width:30%;
  }
  .col-02, .col-03{
  float:left;
  }
  .main-row{
      display: flex;
    justify-content: space-between;
    padding-top:50px;
  }
  
  @media(max-width:768px){
    .main-test-row{
    	 column-count: 1;
    }
      .main-row{
      display: block;
    justify-content: space-between;
    padding-top:50px;
  }
      .col-01, .col-02, .col-03{
  width:100%;
  }
    
  }
  

</style>

<section class="section-testimonials">
<div class="global-container-1200 ">

<div class="preheading">{{ section.settings.Preheading}}</div>
<h1 class="h1-small"> {{ section.settings.Main_Heading}} </h1>


<div class="main-row">
  {% assign block01 = section.blocks | where: 'type', 'block-1' %}
    	<div class="col-01">
		{% for block in block01 %}
            <div class="testimoials">
           <div class="testimonial-quote-icon"><img src="https://cdn.shopify.com/s/files/1/2204/9357/t/10/assets/quote-icon-1.svg" alt=""></div>
         	{% if block.settings.left_image != blank %}
           <div class="img-heigth">
          			<img class="lazy" src="{{block.settings.left_image | img_url: '80x'}}" alt="{{ block.settings.image_alt }}">
           </div>
           {%endif %}
           <div class="text-body">
             <div class="text02"> {{block.settings.paragraph}} </div>
           </div>
           <div class="testimonial-name">{{block.settings.testimonial_name}}</h3>
           
        </div>
		</div>

		{% endfor %}

		</div>
  
  {% assign block02 = section.blocks | where: 'type', 'block-2' %}
    	<div class="col-02">
		{% for block in block02 %}
             		 <div class="testimoials">
           <div class="testimonial-quote-icon"><img src="https://cdn.shopify.com/s/files/1/2204/9357/t/10/assets/quote-icon-1.svg" alt=""></div>
         	{% if block.settings.left_image != blank %}
           <div class="img-heigth">
          			<img class="lazy" src="{{block.settings.left_image | img_url: '80x'}}" alt="{{ block.settings.image_alt }}">
           </div>
           {%endif %}
           <div class="text-body">
             <div class="text02"> {{block.settings.paragraph}} </div>
           </div>
           <div class="testimonial-name">{{block.settings.testimonial_name}}</h3>
           
        </div>
		</div>

        {% endfor %}

        </div>
  
    {% assign block03 = section.blocks | where: 'type', 'block-3' %}
    	<div class="col-03">
		{% for block in block03 %}
             		 <div class="testimoials">
           <div class="testimonial-quote-icon"><img src="https://cdn.shopify.com/s/files/1/2204/9357/t/10/assets/quote-icon-1.svg" alt=""></div>
         	{% if block.settings.left_image != blank %}
           <div class="img-heigth">
          			<img class="lazy" src="{{block.settings.left_image | img_url: '80x'}}" alt="{{ block.settings.image_alt }}">
           </div>
           {%endif %}
           <div class="text-body">
             <div class="text02"> {{block.settings.paragraph}} </div>
           </div>
           <div class="testimonial-name">{{block.settings.testimonial_name}}</h3>
           
        </div>
		</div>

        {% endfor %}

        </div>
  
</div>

  <div class="bottomtext text02">{{ section.settings.bottomtext}}</div>
  
</div>
</section>



{% schema %}
  {
	"settings": [
		{
      "type": "text",
      "id": "Preheading",
      "label": "Preheading"
      },
      {
      "type": "text",
      "id": "Main_Heading",
      "label": "Main Heading"
      },
	{
      "type": "text",
      "id": "bottomtext",
      "label": "Bottom Text"
      }
      ],
    "name": "Multiple Blocks",
    "blocks":[
      {
        "type": "block-1",
        "name": "Block 1",
        "settings": [
        {
          "type": "image_picker",
          "id": "left_image",
          "label": "Left Image"
        },
		{
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Tag"
        },
		{
          "type": "richtext",
          "id": "testimonial_name",
          "label": "Testimonial Name"

        },
		{
          "type": "textarea",
          "id": "paragraph",
          "label": "testimonial Description"
        }	
      ]
      },
      {
        "type": "block-2",
        "name": "Block 2",
        "settings": [
        {
          "type": "image_picker",
          "id": "left_image",
          "label": "Left Image"
        },
		{
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Tag"
        },
		{
          "type": "richtext",
          "id": "testimonial_name",
          "label": "Testimonial Name"

        },
		{
          "type": "textarea",
          "id": "paragraph",
          "label": "testimonial Description"
        }	
      ]
      },
      {
        "type": "block-3",
        "name": "Block 3",
        "settings": [
        {
          "type": "image_picker",
          "id": "left_image",
          "label": "Left Image"
        },
		{
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Tag"
        },
		{
          "type": "richtext",
          "id": "testimonial_name",
          "label": "Testimonial Name"

        },
		{
          "type": "textarea",
          "id": "paragraph",
          "label": "testimonial Description"
        }	
      ]
      }
    ]
  }
{% endschema %}