<style>

  {% if page.handle == "flore-clinical-blog" %}
    .pxs-announcement-bar{
    display: none;
    }
{% endif %}}


  
  .color_announcement_new_text p{
    color:{{section.settings.color_announcement}} !important;
  }
.color_announcement_new_text strong{
    font-weight: 600;
  }
  .announcement_box{
    display: flex;
    justify-content: center;
    align-items: center;
      gap: 1rem;
  }
  .change_announcement_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .announcement_box img{
width: 70px;
    height: 60px;
  }
  
  .pxs-announcement-bar{
    padding: 0px 15px !important;
  }
  
    @media(max-width: 768px){
.change_announcement_box {
  gap: unset; 
    flex-direction: column;

    }
</style>
<script
  type="application/json"
  data-section-type="pxs-announcement-bar"
  data-section-id="{{ section.id }}"
></script>

{% assign enable_announcement = section.settings.show_announcement %}
{% assign homepage_only = section.settings.announcement_home_only %}
{% assign show_announcement = false %}

{% if enable_announcement and homepage_only == false %}
  {% assign show_announcement = true %}
{% endif %}

{% if enable_announcement and homepage_only and template.name == 'index' %}
  {% assign show_announcement = true %}
{% endif %}

{% if section.settings.announcement_text == blank %}
  {% assign show_announcement = false %}
{% endif %}



{% unless show_announcement %}
  {% break %}
{% endunless %}

<div
  class="pxs-announcement-bar"
  style="
    color: {{ section.settings.announcement_color }};
    background-color: {{ section.settings.announcement_background }}
  "
  {% if section.settings.announcement_link != blank %}
    href="{{ section.settings.announcement_link }}"
  {% endif %}
>
  {% if section.settings.announcement_text_mobile != blank %}
    <span class="pxs-announcement-bar-text-mobile">
      {{ section.settings.announcement_text_mobile | escape }}
    </span>
  {% endif %}
<div class="change_announcement_box">
  {% if section.settings.announcement_text != blank %}
    <span class="pxs-announcement-bar-text-desktop">
      {{ section.settings.announcement_text | escape }}
    </span>
  {% endif %}

  <div class="announcement_box">
    <span class="color_announcement_new_text">{{ section.settings.announcement_new_text }} </span> 
<svg width="70" height="60" viewBox="0 0 888 721" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M406.119 324.902C356.414 324.902 316.119 365.196 316.119 414.902V418.529H884.185V414.902C884.185 365.196 843.89 324.902 794.185 324.902H406.119ZM884.185 456.412H316.119V630.884C316.119 680.59 356.414 720.884 406.119 720.884H794.185C843.89 720.884 884.185 680.59 884.185 630.884V456.412Z" fill="#B1DBF6"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M86.2225 142.123C38.7379 156.815 12.1544 207.219 26.8466 254.704L27.9187 258.169L570.601 90.2581L569.529 86.7929C554.837 39.3083 504.432 12.7248 456.948 27.4169L86.2225 142.123ZM581.799 126.448L39.1162 294.359L90.6875 461.035C105.38 508.52 155.784 535.104 203.269 520.411L573.994 405.706C621.478 391.013 648.062 340.609 633.37 293.125L581.799 126.448Z" fill="#B1DBF6"/>
<path d="M665.431 585.562H640.231V611.573H626.911V548.573H640.231V573.863H665.431V548.573H678.751V611.573H665.431V585.562Z" fill="#F76A4A"/>
<path d="M732.576 594.293C732.576 592.433 731.796 590.963 730.236 589.882C728.676 588.803 726.726 587.812 724.386 586.912C722.106 586.012 719.616 585.113 716.916 584.213C714.216 583.313 711.696 582.113 709.356 580.613C707.076 579.113 705.156 577.223 703.596 574.943C702.036 572.663 701.256 569.693 701.256 566.032C701.256 562.913 701.796 560.183 702.876 557.843C704.016 555.443 705.576 553.493 707.556 551.992C709.596 550.433 712.026 549.263 714.846 548.483C717.726 547.702 720.876 547.312 724.296 547.312C728.256 547.312 732.006 547.673 735.546 548.393C739.146 549.053 742.086 550.013 744.366 551.273L740.136 562.433C739.416 562.013 738.486 561.593 737.346 561.173C736.266 560.693 735.006 560.303 733.566 560.003C732.126 559.643 730.596 559.373 728.976 559.193C727.356 558.953 725.706 558.833 724.026 558.833C721.026 558.833 718.686 559.373 717.006 560.453C715.386 561.473 714.576 562.913 714.576 564.773C714.576 566.633 715.356 568.133 716.916 569.273C718.476 570.353 720.396 571.373 722.676 572.333C725.016 573.233 727.536 574.162 730.236 575.122C732.936 576.023 735.426 577.223 737.706 578.723C740.046 580.163 741.996 581.993 743.556 584.213C745.116 586.433 745.896 589.283 745.896 592.763C745.896 596.243 745.296 599.243 744.096 601.763C742.896 604.283 741.186 606.382 738.966 608.062C736.806 609.683 734.196 610.882 731.136 611.662C728.076 612.442 724.716 612.833 721.056 612.833C718.596 612.833 716.256 612.682 714.036 612.382C711.876 612.142 709.866 611.843 708.006 611.483C706.146 611.063 704.496 610.643 703.056 610.223C701.676 609.743 700.566 609.293 699.726 608.873L704.136 597.623C704.796 597.983 705.696 598.373 706.836 598.793C708.036 599.213 709.356 599.632 710.796 600.052C712.236 600.412 713.766 600.712 715.386 600.952C717.066 601.192 718.746 601.312 720.426 601.312C724.386 601.312 727.386 600.743 729.426 599.603C731.526 598.463 732.576 596.693 732.576 594.293Z" fill="#F76A4A"/>
<path d="M801.263 598.162H780.023L774.893 611.573H761.573L786.233 548.122H796.043L820.793 611.573H806.663L801.263 598.162ZM783.713 587.632H798.113L793.253 574.493L791.093 564.503H790.643L788.483 574.583L783.713 587.632Z" fill="#F76A4A"/>
<path d="M358.251 277.534L397.458 267.029L400.487 278.33L374.146 285.388L377.943 299.558L402.197 293.059L405.225 304.36L380.971 310.859L387.423 334.94L374.557 338.387L358.251 277.534Z" fill="#F76A4A"/>
<path d="M458.651 297.965C458.169 296.168 457.035 294.95 455.249 294.311C453.463 293.671 451.323 293.22 448.83 292.956C446.394 292.677 443.756 292.452 440.915 292.282C438.074 292.111 435.33 291.604 432.681 290.761C430.091 289.902 427.747 288.573 425.65 286.775C423.553 284.976 422.031 282.309 421.084 278.774C420.276 275.76 420.091 272.984 420.529 270.444C421.009 267.831 422.011 265.543 423.535 263.582C425.102 261.547 427.146 259.788 429.668 258.305C432.248 256.806 435.19 255.614 438.493 254.729C442.319 253.704 446.034 253.081 449.64 252.86C453.288 252.566 456.376 252.732 458.905 253.359L457.707 265.234C456.903 265.015 455.896 264.85 454.686 264.739C453.519 264.555 452.201 264.504 450.732 264.587C449.248 264.612 447.7 264.747 446.089 264.993C444.462 265.18 442.837 265.491 441.214 265.926C438.316 266.703 436.196 267.83 434.853 269.308C433.552 270.712 433.142 272.313 433.624 274.11C434.105 275.906 435.247 277.153 437.049 277.851C438.835 278.49 440.954 278.978 443.404 279.316C445.898 279.579 448.572 279.825 451.429 280.054C454.27 280.224 456.985 280.739 459.576 281.598C462.209 282.383 464.566 283.646 466.648 285.387C468.729 287.127 470.22 289.678 471.121 293.04C472.021 296.401 472.218 299.454 471.711 302.199C471.205 304.944 470.096 307.415 468.387 309.612C466.72 311.736 464.509 313.57 461.755 315.116C459.002 316.661 455.857 317.908 452.322 318.855C449.946 319.492 447.646 319.952 445.424 320.237C443.276 320.564 441.257 320.795 439.367 320.928C437.462 321.004 435.759 321.025 434.26 320.992C432.802 320.886 431.614 320.739 430.694 320.55L432.042 308.542C432.772 308.719 433.743 308.863 434.952 308.974C436.22 309.069 437.604 309.133 439.104 309.166C440.588 309.141 442.143 309.035 443.77 308.847C445.455 308.644 447.109 308.325 448.732 307.89C452.557 306.865 455.307 305.538 456.982 303.909C458.716 302.265 459.272 300.283 458.651 297.965Z" fill="#F76A4A"/>
<path d="M525.999 283.925L505.483 289.423L503.999 303.704L491.133 307.151L498.53 239.481L508.006 236.942L548.335 291.824L534.686 295.481L525.999 283.925ZM506.322 278.297L520.231 274.57L512.136 263.135L507.464 254.045L507.029 254.161L507.552 264.457L506.322 278.297Z" fill="#F76A4A"/>
<circle cx="230.344" cy="354.773" r="74" stroke="#F76A4A" stroke-width="6"/>
<path d="M260.432 398.436L229.982 407.571C229.454 407.729 228.898 407.431 228.738 406.905L219.608 376.94C219.448 376.414 218.892 376.116 218.365 376.273L186.918 385.661C186.387 385.819 185.829 385.516 185.672 384.985L176.77 354.763C176.617 354.244 176.905 353.697 177.419 353.529L207.706 343.668C208.214 343.503 208.502 342.969 208.362 342.454L199.908 311.457C199.764 310.931 200.068 310.387 200.592 310.234L231.067 301.326C231.593 301.172 232.144 301.47 232.304 301.993L241.68 332.701C241.842 333.232 242.406 333.529 242.935 333.363L272.881 324.005C273.411 323.84 273.975 324.137 274.136 324.668L283.269 354.643C283.427 355.161 283.144 355.71 282.631 355.883L252.606 365.969C252.093 366.142 251.81 366.691 251.968 367.209L261.101 397.187C261.263 397.716 260.963 398.277 260.432 398.436Z" stroke="#F76A4A" stroke-width="6"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M493.851 515.205C500.128 510.351 507.249 507.889 515.016 507.889C536.692 507.889 553.037 525.619 553.037 549.129C553.037 557.577 550.781 565.137 546.635 572.434H503.813L500.712 567.202C499.249 564.731 495.485 565.531 495.152 568.383L491.829 596.798L488.682 551.261C488.438 547.731 483.354 547.46 482.735 550.943L477.388 581.063L474.151 573.412C472.999 570.689 469.018 571.099 468.445 574L465.132 590.772L456.588 570.999C456.114 569.901 455.031 569.189 453.834 569.189H414.594C411.54 562.89 409.9 556.332 409.9 549.129C409.9 525.619 426.246 507.889 447.921 507.889C455.688 507.889 462.809 510.351 469.086 515.205C475.104 519.859 479.11 525.786 481.469 530.097C483.827 525.787 487.834 519.859 493.851 515.205ZM416.739 573.189C425.174 587.545 440.915 600.959 461.164 618.215L461.167 618.217C466.409 622.684 472.349 627.747 478.524 633.147C479.338 633.86 480.384 634.253 481.469 634.253C482.553 634.253 483.599 633.86 484.413 633.147C490.59 627.746 496.532 622.682 501.777 618.212C520.492 602.263 535.356 589.597 544.159 576.434H503.243C502.183 576.434 501.202 575.875 500.662 574.963L498.781 571.788L494.553 607.946C494.13 611.567 488.832 611.441 488.58 607.804L485.252 559.65L480.736 585.087C480.214 588.028 476.183 588.482 475.02 585.731L471.737 577.973L468.433 594.703C467.862 597.592 463.904 598.015 462.736 595.311L453.177 573.189H416.739Z" fill="#F76A4A"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M793.657 89.12C793.657 87.7393 792.538 86.62 791.157 86.62H703.375C686.806 86.62 673.375 100.051 673.375 116.62V247.145C673.375 263.714 686.806 277.145 703.375 277.145H833.279C849.847 277.145 863.279 263.714 863.279 247.145V159.363C863.279 157.982 862.159 156.863 860.779 156.863V156.863C859.398 156.863 858.279 157.982 858.279 159.363V247.145C858.279 260.952 847.086 272.145 833.279 272.145H703.375C689.568 272.145 678.375 260.952 678.375 247.145V116.62C678.375 102.813 689.568 91.62 703.375 91.62H791.157C792.538 91.62 793.657 90.5007 793.657 89.12V89.12Z" fill="#FF5D37"/>
<path d="M740.625 176C746.875 184.43 756.336 190.119 761.277 192.876C761.425 192.959 761.59 193.002 761.759 192.993C764.56 192.837 765.566 190.118 767.75 185.75C781 156.375 803.125 126.25 808.875 116.75C835.25 75.625 853.25 71.125 871.875 71.125C890.299 71.125 888.541 81.0326 885.839 82.4565C885.779 82.4877 885.724 82.5191 885.669 82.5585C829.208 123.602 784.749 231.254 782 239.625C779.25 248 774.5 247.5 773.375 247.5H756.875C750.25 247.5 747.399 245.226 745.25 241.75C730.875 218.5 719.25 205.75 713.125 198.625C707 191.5 715.125 186.125 718 183.75C720.875 181.375 735.25 168.75 740.625 176Z" fill="#FF5D37"/>
</svg>


{% comment %}  <img src="{{ section.settings.imgage_announcement | img_url: 'master' }}" width="100%" height="100%" alt="{{ section.settings.imgage_announcement.alt }}"> {% endcomment %}
  </div>

</div>
</div>



{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "announcement_home_only",
      "label": "Show on home page only",
      "default": false
    },
     {
      "id": "imgage_announcement",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "announcement_text",
      "type": "textarea",
      "label": "Text",
      "default": "Call attention to a special discount, feature, or promotion here."
    },
    {
      "id": "announcement_text_mobile",
      "type": "textarea",
      "label": "Text (mobile)",
      "default": "Use less text on mobile!",
      "info": "Use this option if you want to display alternate text in mobile. Recommended for shortening announcement text to make suitable for mobile."
    },
    {
      "id": "announcement_new_text",
      "type": "richtext",
      "label": "Text New"
    },
    {
      "id": "announcement_link",
      "type": "url",
      "label": "Link"
    },
    {
      "id": "announcement_color",
      "type": "color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "id": "announcement_background",
      "type": "color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "id": "color_announcement",
      "type": "color",
      "label": "Sub Heading color",
      "default": "#000000"
    }
  ]
}

{% endschema %}