<style>
  .all-elements{
  width:512px;
  }
  .specifically-for-you{
  background: #ebf0f7;
  }
  .right-img{
  	margin-bottom: -50px;
        width: 520px;
  }
  .for-you-upper{
  padding-top:125px;
  }
  
  @media(max-width:768px){
  .all-elements, .right-img{
  width:100%;
  }
    .main-row{
    flex-flow: column-reverse;
    }
    .hide-lessthan-900{
    	display:None;
    }
    .main-row for-you-upper{
    padding-top:50px!important;
    }
    .hide-lessthan-1000 {
    display:none;
    }
    
  }
  

</style>



<section class="specifically-for-you">
	<div class="" style="position: relative;">
	
		<div style="position: absolute; right: 0; top: 0; width: 556px; height: 295px; z-index: 1;" class="hide-lessthan-900">
			<img class="lazyload" data-src="https://cdn2.shopify.com/s/files/1/2204/9357/t/10/assets/home-intro-leaf.jpg" src="https://cdn2.shopify.com/s/files/1/2204/9357/t/10/assets/home-intro-leaf_30x.jpg" alt="Best Custom Probiotics">
		</div>
	
		<div class="global-container-1200 " style="position: relative; z-index: 2;">
		<div class="main-row for-you-upper">
          <div class="right-img"><img class="lazyload" data-src="{{section.settings.image |img_url:'master'}}"  alt="Best Custom Probiotic" src="{{ section.settings.image | img_url: '30x' }}"></div>
          
			<div class="home-intro-content-wrapper">
				
				<div class="home-intro-content all-elements">
					<div class="preheading">{{ section.settings.text}}</div>
					<h1 class="h1-small">{{ section.settings.text2}}</h1>
                  	<div class="text02"> {{ section.settings.paragraph}} </div>					
					
				</div>
				
			</div>
		</div>
      </div>
	</div>
</section>







{% schema %}
{
"name": "Specifically for You",
"settings": [
{
      "type": "text",
      "id": "text",
      "label": "Preheading"
      },
      {
      "type": "text",
      "id": "text2",
      "label": "Main Heading"
      },

      {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
      },
      {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default":"Get Started"
      },
      {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"

      },
      {
      "type": "html",
      "id": "paragraph",
      "label": "Paragraph"

      }
      ],
      "presets": [
      {
      "category": "Advanced content",
      "name": "Specifically for You",
      "settings": {}
      }
     ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
