<style>
  .subscription-plan-details {
      background: #f8f9fb;
    padding:50px 0;
  }
  .main-heading {
  font-size: 2rem;
    line-height: 1.15;
    color: #404040;
    font-weight: 500;
  }
  .both-months-row {
  	display:flex;
    padding-top: 50px;
  }
  .text02 p, .below-text p{ padding:6px 0px;}
  .h4headings p{ padding:0px;}
  
  .month1-text p em:last-child{
  line-height: 1.3;
    display: inline-block;
    font-size:13px;
  }
  
  .month-1 {
  border-right: 1px solid #dce0e9;
        width: 58.31%;
    padding-right: 75px;
  }
  
  .month-2{
  	    width: 41.65%;
    padding-left: 50px;
  }
  
  @media(max-width:768px){
  
    .both-months-row {
    display: block!important;
    }
    .month-1, .month-2 {
    padding-right :0px!important;
      padding-left :0px!important;
      width:100%!important;
      border:none!important;
    }
    
  }
  
  
</style>


<section class="subscription-plan-details">
<div class="global-container-1200 ">

  <div class="container">
		<h2 class="main-heading">{{ section.settings.Main_Heading }}</h2>
		<div class="both-months-row">
			<div class="month-1 subscription-details-main">
				
					<div class="subscription-details-header">
						<div class="preheading">{{ section.settings.Month_1_preheading }}</div>
						<h4 class="product-title-main h4headings"> {{ section.settings.Month_1_Heading }}</h4>
						<div class="below-text">{{ section.settings.Month_1_below }}</div>
					</div>
					
					<div class="text02 month1-text">
                          {{ section.settings.Month_1_paragraph }}
					</div>			
			</div>
			<div class="month-2">
					<div class="subscription-details-header">
						<div class="preheading">{{ section.settings.Month_2_preheading }}</div>
						<h4 class="product-title-main h4headings"> {{ section.settings.Month_2_Heading }}</h4>
					</div>
              		<div class="text02" >{{ section.settings.Month_2_paragraph }}</div>
					<img src="{{section.settings.below_image | img_url: 'master' | prepend: 'https:' }}" alt="{{section.settings.alt_image}}">
			</div>
		</div>
	</div>
	
  
  
</div>
</section>




{% schema %}
{
"name": "Subscription Plan Details",
"settings": [
	{
      "type": "text",
      "id": "Main_Heading",
      "label": "Main Heading"
      
      },
  	{
          "type": "text",
          "id": "Month_1_preheading",
          "label": "Month 1 Preheading"
    },
  	{
      "type": "text",
      "id": "Month_1_Heading",
      "label": "Month 1 Heading"
     },
     {
      "type": "richtext",
      "id": "Month_1_below",
      "label": "Month 1 Below Text"
     },
	{
          "type": "richtext",
          "id": "Month_1_paragraph",
          "label": "Month 1 Paragraph"
     },
  	{
          "type": "text",
          "id": "Month_2_preheading",
          "label": "Month 2 Preheading"
    },
  	{
      "type": "richtext",
      "id": "Month_2_Heading",
      "label": "Month 2 Heading"
     },
     {
      "type": "image_picker",
      "id": "below_image",
      "label": "Below Image"
     },
     {
      "type": "text",
      "id": "alt_image",
      "label": "Image Alt"
     },
	{
          "type": "richtext",
          "id": "Month_2_paragraph",
          "label": "Month 2 Paragraph"
     }	
   ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
